.toolbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background:linear-gradient(to right top, #188aff, #000d42 );
    /*background: linear-gradient(to right top, #3594f5, #010d3e );/* #521751;*/
    height: 100px;
    z-index:10; /*<--- crack*/
  }
  
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }
  
  .toolbar__logo {
    margin-left: 1rem;
  }
  
  .toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .toolbar_navigation-items li {
    padding: 0 0.5rem;
  }
  
  .toolbar_navigation-items a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color: #fa923f;
  }
  
  @media (max-width: 768px) {
    .toolbar_navigation-items {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none;
    }
  
    .toolbar__logo {
      margin-left: 80px;
    }

  }