.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Slider-Title{
  font-size: 350%;
  text-align: center;
  text-shadow: -5px 3px 5px rgb(0, 0, 0);
}

.Slider-Subtitle{
 /* transition: all .5s ease-in-out; */
 background: #0000008c;
 color: #fff;
 padding: 10px;
 font-size: 23px;
 text-align: center;
 opacity: 1;
 transition: opacity .35s ease-in-out;

}

.selection-cell{
  display: table-column;
}

.inicio-img{

    display: flex;
    align-items: flex-end;
    /*justify-content: center;*/
    background-size: cover;
    background-position: bottom;
    color: white;
    min-height: -webkit-fill-available;

}

@media all and (min-width: 768px) {
.Slider-Title{
  /* transition: all .5s ease-in-out; */
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -45%;
  width: 50%;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  align-self: start;
  transition: opacity .35s ease-in-out;
}

.Slider-Subtitle{
  /* transition: all .5s ease-in-out; */
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-left: -45%;
  width: 50%;
  border-radius: 10px;
 }
}

@media all and (max-width: 767px) {

  .Slider-Title{
    align-self: center;
    padding: 0% 5%;
    margin-top: -30%;
  }
  
  .Slider-Subtitle{
    align-self: flex-end;
    position: fixed;
  }

  .inicio-img{
    display: flex;
    align-items: flex-end;
    /*justify-content: center;*/
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 540px;
    min-height: auto; 
}
}

